<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <title>Danh sách món ăn</title>
</head>
<body>

<div layout:fragment="content">
<h2 class="mb-4 text-center"> Thực đơn nhà hàng</h2>

<div th:if="${error != null}" class="alert alert-danger text-center" th:text="${error}">
</div>

<div th:if="${dishes == null or #lists.isEmpty(dishes)}"
     class="alert alert-warning text-center">
    Hiện tại nhà hàng đang cập nhật thực đơn, vui lòng quay lại sau
</div>

<table class="table table-bordered table-hover"
       th:unless="${dishes == null or #lists.isEmpty(dishes)}">

    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Tên món</th>
        <th>Giá</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="dish : ${dishes}">
        <td th:text="${dish.id}"></td>
        <td th:text="${dish.name}"></td>
        <td th:text="${dish.price} + ' VND'"></td>
        <td>
            <span th:if="${dish.available}" class="badge bg-success">Còn hàng</span>
            <span th:unless="${dish.available}" class="badge bg-danger">Hết hàng</span>
        </td>
        <td>
            <a th:href="@{|/bai3/edit/${dish.id}|}" class="btn btn-warning me-2 btn-sm">Sửa</a>
        </td>
    </tr>
    </tbody>

</table>

</div>
</body>
</html>